@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
/*---------------------------- header section ------------------------- */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1321px;
    height: 646px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #161616;
    border-radius: 20px;
    
}
.half-width{
    width: 50%;
    margin: 106px 111px 11px 24px;   
    
}
.half-width img{
    width: 581px;
    height: 613px;
    margin: 24px 0px 79px;
}
.heading-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
}
.heading-pera{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.watch-button{ 
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    margin-top: 24px;
   
}
.fa-arrow-right{
    margin-left: 5px;
}
