@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
/*---------------------------- header section ------------------------- */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1321px;
    height: 646px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #161616;
    border-radius: 20px;
    
}
.half-width{
    width: 50%;
    margin: 106px 111px 11px 24px;   
    
}
.half-width img{
    width: 581px;
    height: 613px;
    margin: 24px 0px 79px;
}
.heading-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
}
.heading-pera{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.watch-button{ 
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    margin-top: 24px;
   
}
.fa-arrow-right{
    margin-left: 5px;
}
/*------------------------------- main container ----------------------------- */
.top-header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 5px;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}
.link-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 10px;
    width: 312px;
     background-color: #161616;
     height: 312px
    
     
}
.img-area{
width: 312px;
height: 362px;
margin-left: 15px;

}
.link{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 25px;
    margin-top: 24px;
    text-align: center;
    border-radius: 10px;
    width: 252px;
    height: 64px;
}
.link a{
    color:#161616;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    width: 174px;
    height: 30px;
}
.link-blog{
    background: #DD0000;
    border-radius: 10px;
    padding: 16px 25px;
    margin-top: 24px;
    text-align: center;
    border-radius: 10px;
    width: 252px;
    height: 64px;
}
.link-blog a{
    width: 45px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.transfer-link{
    width: 100px;
    height: 32px;
    margin-top: 5px;
    color: #161616;
}
.transfer-pera{
        width: 272px;
        height: 54px;
        font-weight: 600;
        font-size: 18px;
        color: #161616;
}
.img-icon{
    margin-left: 90px;
}
.image-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    margin-top: 150px;
    margin-left: 335px;
}
